extends layout

block title
  = "shmile"

block content
  section#viewport
    button#start-button.awesome.superlarge.boinkyellow Start
    section#review-buttons
      button#next-button.awesome.large.boinkyellow Done
      button#print-button.awesome.large.boinkyellow Print
